<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:32 GMT -->
<head>
    <meta charset="UTF-8">
    <title>Demande de réinitialisation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>


    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/animate.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/line-awesome.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/line-awesome-font-awesome.min.css") }}">
    <link href="{{ asset("front/vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/font-awesome.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/jquery.mCustomScrollbar.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/lib/slick/slick.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/lib/slick/slick-theme.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ asset("front/css/responsive.css") }}">
    <link rel="stylesheet" href="{{ ("sweetalert2.min.css") }}">

    <link rel="shortcut icon" href="{{ asset("back/images/logo2-sansbg.png" ) }}"/>
</head>

<body>
<div class="wrapper">
    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                </div>
                <nav>
                    <ul>

                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div style="margin-top: 30px;">
        <center><h1 style="font-weight: bold;font-size: 32px;">Réinitialisation votre mot de passe</h1></center>
    </div>
    {{ form_start(requestForm,) }}
    {{ form_widget(requestForm.email, { 'attr': {'class': "form-control   col-sm-9"} }) }}
    {{ form_row(requestForm.email,{'class': 'col-sm-3 col-form-label'}) }}
    <div class="form-group row">
        <small>
            <div style="font-weight: bold;font-size: 18px;">
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </div>
        </small>
    </div>

    <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
</div>
<footer>
    <div class="footy-sec mn no-margin">
        <div class="container">
            <ul>
                <li><a href="about.html" title="">A propos</a></li>
                <li><a href="#" title="">FAQ</a></li>

            </ul>
            <p><img src="{{ asset('front/images/copy-icon2.png') }}" alt="">Copyright 2022</p>
            <img class="fl-rgt" src="{{ asset('front/images/logo-titre11.png') }}" alt="">
        </div>
    </div>
</footer>

</div>


<script type="text/javascript" src="{{ asset("front/js/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/js/popper.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/js/jquery.mCustomScrollbar.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/lib/slick/slick.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/js/scrollbar.js") }}"></script>
<script type="text/javascript" src="{{ asset("front/js/script.js") }}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ asset("sweetalert2.min.js") }}"></script>


</body>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:53 GMT -->
</html>

