{% extends 'baseback.html.twig' %}
 {% block title %}Ajouter compte{% endblock %}

  {% block body %}

      <div class="col-12 grid-margin" style="
                     flex-direction: column;
                      margin-top: 90px;">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Formulaire Créer Compte</h4>

                  <p class="card-description">Informations Personnelles</p>
                  <div>
                      {{ form_start(form) }}
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.nom) }}
                                  {{ form_label(form.nom,"Nom utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'} }) }}
                                  {{ form_widget(form.nom, { 'attr': {'class': "form-control col-sm-9"} }) }}
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.cin) }}
                                  {{ form_label(form.cin,"Cin utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'} }) }}
                                  {{ form_widget(form.cin, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.prenom) }}
                                  {{ form_label(form.prenom,"Prenom utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.prenom, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.plainPassword) }}
                                  {{ form_label(form.plainPassword,"Mot De Passe",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.plainPassword, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.email) }}
                                  {{ form_label(form.email,"Email",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.email, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.numTel) }}
                                  {{ form_label(form.numTel,"Numéro Téléphone" ,{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.numTel, { 'attr': {'class': "form-control   col-sm-9"} }) }}
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{ form_errors(form.adresse) }}
                                  {{ form_label(form.adresse,"Adresse" ,{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.adresse, { 'attr': {'class': "form-control   col-sm-9"} }) }}

                              </div>
                          </div>


                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{  form_errors(form.roles) }}
                                  {{ form_label(form.roles,"Role",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.roles, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group row">
                                  {{  form_errors(form.langue) }}
                                  {{ form_label(form.langue,"Langue",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                  {{ form_widget(form.langue, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                              </div>
                          </div>
                      </div>

                      <div class="form-group">
                          <input type="submit" value="Ajouter" class="btn btn-success">
                      </div>

                      {{ form_end(form) }}
                  </div>

              </div>
          </div>
      </div>

  {% endblock %}
