<!DOCTYPE html>

<title>Register</title>

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.cin) }}
    {{ form_row(form.numTel) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.langue) }}
    {{ form_row(form.email) }}
    {{ form_row(form.profile.image) }}
    {{ form_row(form.profile.description) }}
    {{ form_row(form.old_password) }}
    {{ form_row(form.new_password.first) }}
    {{ form_row(form.new_password.second) }}

    <button type="submit" class="btn">edit</button>
    {{ form_end(form) }}
{% endblock %}
