{% extends 'baseback.html.twig' %}




   {% block title %} Utilisateurs {% endblock %}

{% block body %}

                    {% block table %}<div class="col-lg-12 grid-margin stretch-card" style="
                     flex-direction: column;
                      margin-top: 90px;">
                        <h1 style="text-align: center;">Utilisateurs</h1>

                        <div class="card">
                            <p class="card-description" style="text-align: center; margin-top: 30px;"> liste des utilisateurs
                            <div class="card-body">
                                </p>
                                <div class="table-responsive">
                                    <a href="/utilisateur/admin/add">
                                        <button type="button"  class="btn btn-success btn-rounded btn-fw"> + Ajouter  un compte </button>
                                    </a>
                                    <br>
                                    <br>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Cin</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Adresse</th>
                                            <th>NumTel</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Langue</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>

                                        {% for c in utilisateur %}
                                        <tr>
                                            <td class="py-1">{{ c.id }}</td>
                                            <td >{{ c.cin }}</td>
                                            <td  role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ c.nom }}</td>
                                            <td>{{ c.prenom }}</td>
                                            <td>{{ c.adresse }}</td>
                                            <td>{{ c.numTel }}</td>
                                            <td>{{ c.email }}</td>
                                            <td>{{ c.role }}</td>
                                            <td>{{ c.langue }}</td>
                                            <td> <a href="/utilisateur/admin/update/{{ c.id }}" class="mdi mdi-tooltip-edit" onclick="return confirm('Etes-vous sûr de modifier ce compte?');" title=" Modifier">
                                                 <a href="/utilisateur/admin/delete/{{ c.id }}" class="mdi mdi-delete" onclick="return confirm('Etes-vous sûr de supprimer ce compte?');" title=" Supprimer">
                                            </td>
                                        </tr>
                                        {% endfor %}


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}

{% endblock %}


