{% extends 'basefront.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <center>
        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="filter-secs">
                                    <div class="filter-heading">
                                        <h3>Créer un evenement</h3>
                                    </div>
                                    {{ form_start(form) }}
                                    <div class="paddy">
                                        <div class="filter-dd">
                                            <div class="filter-ttl">
                                                {{ form_errors(form.nom) }}
                                                <h3>{{ form_label(form.nom,"nom d'evenement") }}</h3>
                                            </div>
                                            {{ form_widget(form.nom, { 'attr': {'class': "form-control"} }) }}
                                            <div class="filter-ttl">
                                                {{ form_errors(form.description) }}
                                                <h3>{{ form_label(form.description,"Description d'evenement") }}</h3>
                                            </div>
                                            {{ form_widget(form.description, { 'attr': {'class': "form-control"} }) }}
                                            <div class="filter-ttl">
                                                {{ form_errors(form.datedeb) }}
                                                <h3>{{ form_label(form.datedeb,"Date debut") }}</h3>
                                            </div>
                                            {{ form_widget(form.datedeb, { 'attr': {'class': "form-control"} }) }}
                                            <div class="filter-ttl">
                                                {{ form_errors(form.datefin) }}
                                                <h3>{{ form_label(form.datefin,"Date fin") }}</h3>
                                            </div>
                                            {{ form_widget(form.datefin, { 'attr': {'class': "form-control"} }) }}
                                            <div class="filter-ttl">
                                                {{ form_errors(form.picture) }}
                                                <h3>{{ form_label(form.picture,"upload image") }}</h3>
                                            </div>
                                            {{ form_widget(form.picture, { 'attr': {'class': "form-control"} }) }}
                                            <div class="filter-ttl">
                                                {{ form_errors(form.categorie) }}
                                                <h3>{{ form_label(form.categorie,"Categorie d'evenement") }}</h3>
                                            </div>
                                            {{ form_widget(form.categorie, { 'attr': {'class': "form-control"} }) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.Ajouter, { 'attr': {'class': "btn btn-primary mr-2"} }) }}
                                    {{ form_end(form) }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </center>
{% endblock %}
