{% extends 'basefront.html.twig' %}


   {% block title %}  Utilisateurs {% endblock %}

{% block body %}

    {% block table %}<div class="col-lg-12 grid-margin stretch-card" style="
                     flex-direction: column;
                      margin-top: 90px;">
        <h1 style="text-align: center;"><B> Utilisateurs</B> </h1>

        <div class="card">
            <p class="card-description" style="text-align: center;margin-top: 30px;"> liste des utilisateurs
            <div class="card-body">
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cin</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse</th>
                            <th>NumTel</th>
                            <th>Email</th>
                            <th>MotDePasse</th>
                            <th>Role</th>
                            <th>Langue</th>

                        </tr>
                        </thead>

                        {% for c in utilisateur %}
                            <tr>
                                <td class="py-1">{{ c.id }}</td>
                                <td >{{ c.cin }}</td>
                                <td  role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{{ c.nom }}</td>
                                <td>{{ c.prenom }}</td>
                                <td>{{ c.adresse }}</td>
                                <td>{{ c.numTel }}</td>
                                <td>{{ c.email }}</td>
                                <td>{{ c.MotDePasse }}</td>
                                <td>{{ c.role }}</td>
                                <td>{{ c.langue }}</td>
                            </tr>
                        {% endfor %}


                    </table>
                </div>
            </div>
        </div>
        </div>
    {% endblock %}

{% endblock %}


