{% extends 'baseback.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}


    <div class="col-12 grid-margin" style="
                     flex-direction: column;
                      margin-top: 90px;">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Utilisateurs</h1>

                <p class="card-description">Modifier un utilisateur</p>



                <div>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.nom) }}
                                {{ form_label(form.nom,"Nom utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'} }) }}
                                {{ form_widget(form.nom, { 'attr': {'class': "form-control col-sm-9"} }) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.cin) }}
                                {{ form_label(form.cin,"Cin utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'} }) }}
                                {{ form_widget(form.cin, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                            </div>
                        </div>


                        <hr>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.prenom) }}
                                {{ form_label(form.prenom,"Prenom utilisateur",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                {{ form_widget(form.prenom, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.MotDePasse) }}
                                {{ form_label(form.MotDePasse,"Mot De Passe",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                {{ form_widget(form.MotDePasse, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.email) }}
                                {{ form_label(form.email,"Email",{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                {{ form_widget(form.email, { 'attr': {'class': "form-control  col-sm-9"} }) }}
                            </div>
                        </div>
                        <hr>

                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.numTel) }}
                                {{ form_label(form.numTel,"Numéro Téléphone" ,{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                {{ form_widget(form.numTel, { 'attr': {'class': "form-control   col-sm-9"} }) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                {{ form_errors(form.adresse) }}
                                {{ form_label(form.adresse,"Adresse" ,{ 'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                {{ form_widget(form.adresse, { 'attr': {'class': "form-control   col-sm-9"} }) }}

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class='col-sm-3 col-form-label' for="rol">Roollll</label>
                                <select class="form-control col-sm-9">
                                    <option value="voyageurr">voyageur</option>
                                    <option value="adminn">admin</option>
                                    <option value="guidee">guide</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class='col-sm-3 col-form-label' for="langue">Langue</label>
                                <select class="form-control col-sm-9">
                                    <option value="ar">Arabe</option>
                                    <option value="fr">Français</option>
                                    <option value="en">Anglais</option>
                                </select>
                            </div>
                        </div>



                    </div>

                    <br><br>
                    {{ form_row(form.Modifier, { 'attr': {'class': "btn btn-primary mr-2"} }) }}

                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
