{% extends 'baseback.html.twig' %}
 {% block title %}Créer profile{% endblock %}

  {% block body %}

      <div class="main-panel">
          <div class="content-wrapper">
              <div class="page-header">
                  <h3 class="page-title" style="flex-direction: column;margin-top: 10px;margin-bottom: 30px">Créer un profile</h3>

              </div>

              {{ form_start(form) }}
              {{ form_errors(form.nom) }}
              {{ form_label(form.nom,"Nom du profile") }}
              {{ form_widget(form.nom, { 'attr': {'class': "form-control"} }) }}
              <hr>
              {{ form_errors(form.image) }}
              {{ form_label(form.image,"Ajouter votre photo de profile") }}
              {{ form_widget(form.image, { 'attr': {'class': "form-control"} }) }}
              <hr>

              {{ form_errors(form.description) }}
              {{ form_label(form.description,"Entrer votre Bio") }}
              {{ form_widget(form.description, { 'attr': {'class': "form-control"} }) }}
              <hr>

              {{ form_errors(form.evaluation) }}
              {{ form_label(form.evaluation,"Evaluer le profile") }}
              {{ form_widget(form.evaluation, {label_attr: {class: 'checkbox-custom'} }) }}

              {# {{ form_widget(form.region, { 'attr': {'class': "form-control"} }) }} #}
              <br><br>

              {{ form_row(form.Creer, { 'attr': {'class': "btn btn-primary mr-2"} }) }}

              {{ form_end(form) }}

          </div>
      </div>
  {% endblock %}



