<!DOCTYPE html>

<title>Evenement index</title>

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Datedeb</th>
                <th>Datefin</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.datedeb ? evenement.datedeb|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.image }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}
