{% extends 'baseback.html.twig' %}

{% block title %}Evenements {% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"></h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('evenement_add') }}">Ajouter</a></li>
                    {# <li class="breadcrumb-item active" aria-current="page"> Form elements </li> #}
                </ol>
            </nav>
        </div>
        <div class="col-lg-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">List Evenements</h4>
                    <p class="card-description"> Evenements
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>NOM</th>
                                <th>DESCREPTION</th>
                                <th>DATE DEBUT</th>
                                <th>DATE FIN</th>
                                <th>IMAGE</th>
                                <th>CATEGORIE</th>
                                <th>CONTROLER</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for evenement in evenement %}
                                <tr class="table-success">
                                    <td>{{ evenement.id }}</td>
                                    <td>{{ evenement.nom }}</td>
                                    <td>{{ evenement.description }}</td>
                                    <td>{{ evenement.datedeb|date('d-m-y')}}</td>
                                    <td>{{ evenement.datefin|date('d-m-y')}}</td>
                                    <td>{{ evenement.image }}</td>
                                    <td>{{ evenement.categorie.nom }}</td>
                                    <td><a href="{{ path('evenement_edit', {'id': evenement.id}) }}">modifier</a>
                                        <a href="{{ path('evenement_delete',{'id':evenement.Id}) }}">supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
