{% extends 'basefront.html.twig' %}

{% block title %}Plannings{% endblock %}

{% block body %}
    <h1>Planning</h1>

    <table class="table">
    <tbody>
    <p>

    </p>
    {% for planning in planning %}
        <tr>
            <th>Id</th>
            <td>{{ planning.id }}</td>
        </tr>
        <tr>
            <th>Date Depart</th>
            <td>{{ planning.dateDepart|date('d-m-y') }}</td>
        </tr>
        <tr>
            <th>Date Fin</th>
            <td>{{ planning.dateFin|date('d-m-y') }}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ planning.prix }}</td>
        </tr>
        <tr>
            <th>Type Plan</th>
            <td>{{ planning.typePlan }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ planning.description  }}</td>
        </tr>
        <tr>
            <th>Voyageur</th>
            <td>{{ planning.utilisateur.nom }}</td>
        </tr>
        <tr>
            <th>Evenement</th>
            {% for evenement in planning.evenements %}
                <td>{{ evenement.nom }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>Destination</th>
            {% for destination in planning.destinations %}
                <td>{{ destination.nom }}</td>
            {% endfor %}
        </tr>

        </tbody>
        </table>

        <a href="{{ path('PlanningFront_show') }}">back to list</a>

        <a href="{{ path('PlanningFront_edit', {'id':planning.id}) }}">edit</a>
        <a href="{{ path('PlanningFront_del',{'id':planning.id}) }}">delete</a>
    {% endfor %}

{% endblock %}
