{% extends 'baseback.html.twig' %}
{% block title %}Ajouter destination
{% endblock %}

{% block body %}
<div class="main-panel">
		<div class="content-wrapper">
			{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		{% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
		{% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
			<div class="page-header">
				<h3 class="page-title"> Liste des regions</h3>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">

						
					
                        <li class="breadcrumb-item">
							<a href="/regionliste" >
								Liste des Regions</a>
						</li>
					</ol>
				</nav>
			</div>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
					 <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Vos regions</h4>
					<a href="/regionadd">
                      <button type="button"  class="btn btn-success btn-rounded btn-fw"> + Ajouter  une region </button>
                    </a>
					<br><br>
                    <div class="table-responsive">
                      <table class="table table-striped">

								{% if region %}

								

													<thead>


														<tr class="table-info">

															<th>
																ID
															</th>

															<th>
																nom de region
															</th>
															
															<th></th>
														</tr>
													</thead>

													<tbody id="tab">
														{% for reg in region %}

															<tr>
																<td>

																	{{ reg.id }}

																</td>

																<td>

																	{{ reg.nom }}
																</td>
															

																<td>
																	<div align="right">
																		<a href="/regionshow/{{ reg.id }}" class="mdi mdi-cursor-default" title="details">
																			<i class="fas fa-book-open"></i>
																		</a>
																		<a href="/regionedit/{{ reg.id }}" class="mdi mdi-tooltip-edit" name='edit' title=" modifier">
																			<i class="fas fa-edit"></i>
																		</a>
																		<a href="/regiondelete/{{ reg.id }}" class="mdi mdi-delete" onclick="return confirm('Etes-vous sûr de supprimer cette region?');" title=" supprimer">
																			<i class="fas fa-trash-alt"></i>
																		</a>

																	</div>
																</td>
															</tr>


														{% endfor %}
													</tbody>

												</table>
											{% endif %}
											<p align="right">
											<div class="navigation">
												{{ knp_pagination_render(region,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',{'rounded': true,'size': 'small' }) }}
											</div>
											</p>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			


		{% endblock %}

