{% extends 'basefront.html.twig' %}

{% block title %}Travedia{% endblock %}

  {% block body %}
  <br>
  <br>
  <br>
  <br>
  <br>  <br>
  <br>
  <br>

	<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title"></h3>
			
			</div>
			<div id="layoutSidenav_content">
			<div class="search-bar"> 
<form>
			<input  id="myInput"  type="text" class="form-control" placeholder="search"> 
<button type="submit"><i class="la la-search"></i></button>
</form>
</div>
			
				<main>
				
					<div class="container-fluid">
					
						<div class="card-body">
						
								<div class="col-lg-12 stretch-card">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Destinations</h4>

										<div class="profiles-slider" >
		{% for d in destination %}


<div class="user-profy" id="tab">
  <img src="{{ asset('uploads/brochures/' ~ d.image)}}"  width="250" 
     height="150"  align="middle" alt="photo">
     <h3>{{ d.nom }}</h3>
     <a href="{{ path('destinationshowfront',{'id':d.id}) }}" title="">Voir details</a>
</div>
{% endfor %}



</div>
</div>

</div>
</div>
</div>

</div>


</div>
{% block javascripts %}
  
	
    {# <script src="{{ asset('js/jquery-3.2.1.min.js')}}"></script> #}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tab tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {# <script>
        $(document).ready(function() {
            $("#form_recherche").on("submit", function (event) {
                event.preventDefault();
                $.ajax({
                    url: "{{ asset('ajax/Search.php') }}",
                    type: 'POST',
                    data: {
                        action: 'recherche' ,
                        $nom: $("#nom").val() ,
                        $option: $("#option").val() ,
                    },
                    success: function (data) {
                        $("#tab").html(data);
                    }
                });
            });
        });
           
    </script> #}
		{% endblock %}
  {% endblock %}


