
        {% extends 'basefront.html.twig' %}
{% block title %}afficher destination
{% endblock %}

{% block body %}
	
<div class="main-panel">
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title"> </h3>
				<nav aria-label="breadcrumb">
					
				</nav>
			</div>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid">
					 {# <div class="col-lg-12 grid-margin stretch-card"> #}
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Vos destinations</h4>
				
					<br><br>
          <center>

                    <div class="table-responsive">
                  					<h1>	
         welcome to {{ destinationfront.nom }}
                              </h1>
                   <img src="{{ asset('uploads/brochures/' ~ destinationfront.image)}}"  width="1120" height="412"  align="right" alt="photo">

</div>

	  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
	  {{ destinationfront.evaluation }}

<p> Region : </p>{{ destinationfront.region.nom }}
<br>
<p> Description : </p>{{ destinationfront.description }}
<br>
<p> here's a map for you  so you don't get lost </p>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css"
  />
  
<script>
mapboxgl.accessToken =
  "pk.eyJ1IjoiYW1hbmlzYWxlbSIsImEiOiJjbDA5amNpMHkwZHh1M2txdTVnaTIyb2FhIn0.sCZ28wAZJ8HSTuUqx-vt6A"

navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
  enableHighAccuracy: true
})

function successLocation(position) {
  setupMap([{{ destinationfront.longitude }}, {{ destinationfront.latitude }}])
  
}
function errorLocation(position) {
  setupMap([-2.24, 53.48])
  
}

{# function errorLocation() {
  setupMap([-2.24, 53.48])
} #}

function setupMap(center) {
  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11",
    center: center,
    zoom: 10
  })
  const nav = new mapboxgl.NavigationControl()
  map.addControl(nav)

  var directions = new MapboxDirections({
    accessToken: mapboxgl.accessToken
  })

  map.addControl(directions, "top-left")
 
}
</script>
<div id='map' style='width: 1000px; height: 800px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYW1hbmlzYWxlbSIsImEiOiJjbDA5amNpMHkwZHh1M2txdTVnaTIyb2FhIn0.sCZ28wAZJ8HSTuUqx-vt6A';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11'
});
</script>
</center>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
			

 
		{% endblock %}
