
<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:32 GMT -->
<head>
    <meta charset="UTF-8">
    <title> {%block title%} Travedia {%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    {%block css%}
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/animate.css")}}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/bootstrap.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/line-awesome.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/line-awesome-font-awesome.min.css") }}">
    <link href="{{asset("front/vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/font-awesome.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/jquery.mCustomScrollbar.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/lib/slick/slick.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/lib/slick/slick-theme.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{asset("front/css/responsive.css") }}">
    {%endblock%}
    <link rel="shortcut icon" href="{{asset("back/images/logo2-sansbg.png" ) }}"/>

</head>
<body>

<div class="wrapper">
    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="index.html" title=""><img src="{{asset("front/images/logo2-sansbg.png") }}" alt=""></a>
                </div>
                <div class="search-bar">

                    <form method="POST">
                        <input type="text" name="search" placeholder="waaaaaaaaaaa...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('afficherPoste')}}" title="">
                                <span><img src="{{asset("front/images/icon1.png")}}" alt=""></span>
                                Acceuil
                            </a>
                        </li>
                        <li>
                            <a href="companies.html" title="">
                                <span><img src="{{asset("front/images/icon2.png")}}" alt=""></span>
                                Destinations
                            </a>
                            <ul>
                                <li><a href="companies.html" title="">Companies</a></li>
                                <li><a href="company-profile.html" title="">Company Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="projects.html" title="">
                                <span><img src="{{asset("front/images/icon3.png")}}" alt=""></span>
                                Evénements
                            </a>
                        </li>
                        <li>
                            <a href="profiles.html" title="">
                                <span><img src="{{asset("front/images/icon4.png")}}" alt=""></span>
                                Profiles
                            </a>
                            <ul>
                                <li><a href="user-profile.html" title="">User Profile</a></li>
                                <li><a href="my-profile-feed.html" title="">my-profile-feed</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" title="" class="not-box-openm">
                                <span><img src="{{asset("front/images/icon6.png")}}" alt=""></span>
                                Messages
                            </a>
                            <div class="notification-box msg" id="message">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset("front/images/resources/ny-img1.png")}}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset("front/images/resources/ny-img2.png")}}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a></h3>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{asset("front/images/resources/ny-img3.png")}}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="messages.html" title="">Jassica William</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                            <span>2 min ago</span>
                                        </div>
                                    </div>
                                    <div class="view-all-nots">
                                        <a href="messages.html" title="">View All Messsages</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </nav>
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <div class="user-account">
                    <div class="user-info">
                        <img src="{{asset("front/images/resources/user.png")}}" alt="">
                        <a href="#" title="">John</a>
                        <i class="la la-sort-down"></i>
                    </div>
                    <div class="user-account-settingss" id="users">
                        <h3>Online Status</h3>
                        <ul class="on-off-status">
                            <li>
                                <div class="fgt-sec">
                                    <input type="radio" name="cc" id="c5">
                                    <label for="c5">
                                        <span></span>
                                    </label>
                                    <small>Online</small>
                                </div>
                            </li>
                            <li>
                                <div class="fgt-sec">
                                    <input type="radio" name="cc" id="c6">
                                    <label for="c6">
                                        <span></span>
                                    </label>
                                    <small>Offline</small>
                                </div>
                            </li>
                        </ul>
                        <h3>Custom Status</h3>
                        <div class="search_form">
                            <form>
                                <input type="text" name="search">
                                <button type="submit">Ok</button>
                            </form>
                        </div>
                        <h3>Setting</h3>
                        <ul class="us-links">
                            <li><a href="profile-account-setting.html" title="">Account Setting</a></li>
                            <li><a href="#" title="">Privacy</a></li>
                            <li><a href="#" title="">Faqs</a></li>
                            <li><a href="#" title="">Terms & Conditions</a></li>
                        </ul>
                        <h3 class="tc"><a href="sign-in.html" title="">Logout</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {%block body%}










</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="lib/slick/slick.min.js"></script>
<script type="text/javascript" src="js/scrollbar.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>




































    {%endblock%}

    <footer>
        <div class="footy-sec mn no-margin">
            <div class="container">
                <ul>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="#" title="">FAQ</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                </ul>
                <p><img src="front/images/copy-icon2.png" alt="">Copyright 2022</p>
                <img class="fl-rgt" src="front/images/logo-titre11.png" alt="">
            </div>
        </div>
    </footer>

</div>

{%block js%}
<script type="text/javascript" src="front/js/jquery.min.js"></script>
<script type="text/javascript" src="front/js/popper.js"></script>
<script type="text/javascript" src="front/js/bootstrap.min.js"></script>
<script type="text/javascript" src="front/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="front/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="front/js/scrollbar.js"></script>
<script type="text/javascript" src="front/js/script.js"></script>
{%endblock%}

</body>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:53 GMT -->
</html>