<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:32 GMT -->
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Travedia {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/animate.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/line-awesome.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/line-awesome-font-awesome.min.css") }}">
        <link href="{{ asset("front/vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/font-awesome.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/jquery.mCustomScrollbar.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/lib/slick/slick.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/lib/slick/slick-theme.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/style.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ asset("front/css/responsive.css") }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    {% endblock %}
    {% block extracss %}

    {% endblock %}
    {% block icon %}
        <link rel="shortcut icon" href="{{ asset("back/images/logo2-sansbg.png" ) }}"/>{% endblock %}
</head>
<body>
<div class="wrapper">
    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="{{path('planningFront')}}" title=""><img src="{{asset("front/images/logo2-sansbg.png") }}" alt=""></a>
                </div>
                <div class="search-bar">
                    <form>
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="{{ path('afficherPoste') }}" title="">
                                <span><img src="{{ asset("front/images/icon1.png") }}" alt=""></span>
                                Acceuil
                            </a>
                        </li>
                        <li>
                            <a href="{{path('PlanningFront_add')}}" title="">
                                <span><img src="{{asset("front/images/icon1.png")}}" alt=""></span>
                                Planning
                            </a>
                        </li>
                        <li>
                            <a href="/regionlistefront" title="">
                                <span><img src="{{asset("front/images/icon2.png")}}" alt=""></span>
                                Destinations
                            </a>
                            <ul>
                                <li><a href="/regionlistefront" title="">PAR REGION</a></li>

                                <li><a href="/destinationlistefront" title=""> tous</a></li>


                            </ul>
                        </li>
                        <li>
                            <a href="{{ path("categorief") }}" title="">
                                <span><img src="{{asset("front/images/icon3.png")}}" alt=""></span>
                                Evénements
                            </a>
                        </li>
                        <li>
                            <a href="profiles.html" title="">
                                <span><img src="{{ asset("front/images/icon4.png") }}" alt=""></span>
                                Profiles
                            </a>
                            <ul>
                                <li><a href="user-profile.html" title="">User Profile</a></li>
                                <li><a href="my-profile-feed.html" title="">my-profile-feed</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <div class="user-account">
                    <div class="user-info">
                        {% if app.user != null %}
                            <img src="{{ asset("front/images/resources/user.png") }}" alt="">
                            <a href="#" title="">{{ app.user.nom }}</a>
                            <i class="la la-sort-down"></i>
                        {% else %}
                            <img src="{{ asset("front/images/resources/user.png") }}" alt="">
                            <a href="#" title="">User</a>
                            <i class="la la-sort-down"></i>
                        {% endif %}
                    </div>
                    <div class="user-account-settingss" id="users">
                        {% if app.user != null %}
                            {% if app.user.roles|join(', ') != ["ROLE_ADMIN"] %}
                                <h3><a href="{{ path('admin_profile') }}">My profile</a></h3>
                            {% else %}
                                <h3><a href="{{ path('user_profile') }}">My profile</a></h3>
                            {% endif %}

                        {% endif %}

                        {% if app.user.roles|join(', ') == "ROLE_ADMIN" %}
                            <h3><a href="{{ path('adminHome') }}">Dashboard</a></h3>
                        {% else %}

                        {% endif %}
                        <br> <br> <br> <br>
                        <h3>Setting</h3>
                        <ul class="user-account-settingss">
                            <h3 class="tc"><a href="{{ path('afficherFactureListe') }}" title="">Paiements</a></h3>
                            <h3 class="tc"><a href="{{ path('reclamation_Liste') }}" title="">Reclamations</a></h3>

                            {% if app.user != null %}
                                {% if app.user.roles|join(', ') != ["ROLE_ADMIN"] %}
                                    <h3><a href="{{ path('edit_user') }}">Modifier Compte</a></h3>
                                    <h3><a href="{{ path('user_delete') }}">Supprimer Compte</a></h3>
                                {% else %}
                                    <h3><a href="{{ path('edit_admin') }}">Modifier Compte</a></h3>
                                    <h3><a href="{{ path('user_delete') }}">Supprimer Compte</a></h3>
                                {% endif %}

                            {% endif %}
                            <h3 class="tc"><a href="{{ path('app_logout') }}" title="">Logout</a></h3>
                        </ul>
                        <h3 class="tc"><a href="{{ path('app_logout') }}" title="">Logout</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {% block body %} {% endblock %}

    <footer>
        <div class="footy-sec mn no-margin">
            <div class="container">
                <ul>
                    <li><a href="about.html" title="">About</a></li>
                    <li><a href="#" title="">FAQ</a></li>
                    <li><a href="#" title="">Community Guidelines</a></li>
                </ul>
                <p><img src="{{ asset('front/images/copy-icon2.png') }}" alt="">Copyright 2022</p>
                <img class="fl-rgt" src="{{ asset('front/images/logo-titre11.png') }}" alt="">
            </div>
        </div>
    </footer>

</div>

<<<<<<< Updated upstream
{%block js%}
<script type="text/javascript" src="front/js/jquery.min.js"></script>
<script type="text/javascript" src="front/js/popper.js"></script>
<script type="text/javascript" src="front/js/bootstrap.min.js"></script>
<script type="text/javascript" src="front/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="front/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="front/js/scrollbar.js"></script>
<script type="text/javascript" src="front/js/script.js"></script>
{%endblock%}
=======
{% block js %}
    <script type="text/javascript" src="{{ asset("front/js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/popper.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/jquery.mCustomScrollbar.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/lib/slick/slick.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/scrollbar.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/script.js") }}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
>>>>>>> Stashed changes

    <script src="{{ asset("sweetalert2.min.js") }}"></script>
{% endblock %}
{% block javascripts %}
{%endblock%}
</body>

<!-- Mirrored from gambolthemes.net/workwise-new/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Feb 2022 21:09:53 GMT -->
</html>