<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}Travedia Admin {% endblock %} </title>
    {% block css %}
    <link rel="stylesheet" href="{{asset("back/vendors/mdi/css/materialdesignicons.min.css") }}" />
    <link rel="stylesheet" href="{{asset("back/vendors/flag-icon-css/css/flag-icon.min.css") }}" />
    <link rel="stylesheet" href="{{asset("back/vendors/css/vendor.bundle.base.css" ) }}"/>
    <link rel="stylesheet" href="{{asset("back/vendors/font-awesome/css/font-awesome.min.css")}}" />
    <link rel="stylesheet" href="{{asset("back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css")}}" />
    <link rel="stylesheet" href="{{asset("back/css/style.css") }}" />
    {% endblock %}
    <link rel="shortcut icon" href="{{asset("back/images/iconeb.png" ) }}"/>
</head>
<body>
<div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
            <a class="sidebar-brand brand-logo" href="index.html"><img src="back/images/logo-titre11.png" alt="logo" /></a>
            <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="back/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
            <li class="nav-item nav-profile">
                <a href="#" class="nav-link">
                    <div class="nav-profile-image">
                        <img src="back/images/faces/face1.jpg" alt="profile" />
                        <span class="login-status online"></span>
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex flex-column pr-3">
                        <span class="font-weight-medium mb-2">Admin</span>

                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            {# <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="/destinationliste" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    
                    <span class="menu-title">Destinations</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/buttons.html">Regions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="pages/ui-features/dropdowns.html">Destinations</a>
                        </li>

                    </ul>
                </div>
            </li> #}
             <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="/destinationliste" aria-expanded="false" aria-controls="ui-basic">
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              <span class="menu-title"> Destinations</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link"  href="/regionliste">Regions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"href="/destinationliste">Destinations</a>
                </li>
               
              </ul>
            </div>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/icons/mdi.html">
                    <i class="mdi mdi-contacts menu-icon"></i>
                    <span class="menu-title">Utilisateurs</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/forms/basic_elements.html">
                    <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    <span class="menu-title">Planning</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/charts/chartjs.html">
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                    <span class="menu-title">Paiement</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/tables/basic-table.html">
                    <i class="mdi mdi-table-large menu-icon"></i>
                    <span class="menu-title">Evénements</span>
                </a>
            </li>
            <li class="nav-item">
            <span class="nav-link" href="#">

            </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.bootstrapdash.com/demo/breeze-free/documentation/documentation.html">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">FAQ</span>
                </a>
            </li>
            <ul class="mt-4 pl-0">
                <li></li>
            </ul>
            <li class="nav-item sidebar-actions">
                <div class="nav-link">
                    <div class="mt-4">
                        <div class="border-none">
                            <p class="text-black">Actualité</p>
                        </div>
                        <ul class="mt-4 pl-0">
                            <li>Sign Out</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
                <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
                <div class="tiles light"></div>
                <div class="tiles dark"></div>
            </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="assets/images/logo-mini.svg" alt="logo" /></a>
                <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                    <i class="mdi mdi-menu"></i>
                </button>
                <ul class="navbar-nav">

                    <li class="nav-item dropdown d-none d-sm-flex">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-outline"></i>
                            <span class="count count-varient2">5</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
                            <h6 class="p-3 mb-0">Messages</h6>
                            <a class="dropdown-item preview-item">
                                <div class="preview-item-content flex-grow">
                                    <span class="badge badge-pill badge-success">Request</span>
                                    <p class="text-small text-muted ellipsis mb-0"> Suport needed for user123 </p>
                                </div>
                                <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-item-content flex-grow">
                                    <span class="badge badge-pill badge-warning">Invoices</span>
                                    <p class="text-small text-muted ellipsis mb-0"> Invoice for order is mailed </p>
                                </div>
                                <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-item-content flex-grow">
                                    <span class="badge badge-pill badge-danger">Projects</span>
                                    <p class="text-small text-muted ellipsis mb-0"> New project will start tomorrow </p>
                                </div>
                                <p class="text-small text-muted align-self-start"> 4:10 PM </p>
                            </a>
                            <h6 class="p-3 mb-0">See all activity</h6>
                        </div>
                    </li>
                    <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                        <form class="nav-link form-inline mt-2 mt-md-0">

                                <div class="input-group-append">
                                </div>

                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right ml-lg-auto">

                    <li class="nav-item nav-profile dropdown border-0">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                            <img class="nav-profile-img mr-2" alt="" src="back/images/faces/face1.jpg" />
                            <span class="profile-name">Henry Klein</span>
                        </a>
                        <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
           
        </nav>
        

        {% endblock %}

       {% block body %}

       {% endblock %}

        {% block footer %}
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
                </div>
            </footer>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
{% block js %}
<script src="back/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="back/vendors/chart.js/Chart.min.js"></script>
<script src="back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="back/vendors/flot/jquery.flot.js"></script>
<script src="back/vendors/flot/jquery.flot.resize.js"></script>
<script src="back/vendors/flot/jquery.flot.categories.js"></script>
<script src="back/vendors/flot/jquery.flot.fillbetween.js"></script>
<script src="back/vendors/flot/jquery.flot.stack.js"></script>
<script src="back/vendors/flot/jquery.flot.pie.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="back/js/off-canvas.js"></script>
<script src="back/js/hoverable-collapse.js"></script>
<script src="back/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="back/js/dashboard.js"></script>
{% endblock %}
<!-- End custom js for this page -->
</body>
{% endblock %}
</html>