{% extends 'baseback.html.twig' %}




   {% block title %} Messages {% endblock %}

{% block body %}

    {% block table %}
        <div class="col-lg-12 grid-margin stretch-card" style="
                     flex-direction: column;
                      margin-top: 90px;">
            <h1 style="text-align: center;">Messages</h1>
            {# <button name="sweet" id="sweet">test</button> #}

            <div class="card" style=" margin-top: 20px;">
                <p class="card-description" style="text-align: center; margin-top: 30px;"> liste des utilisateurs</p>
                <div class="card-body">

                    <div class="table-responsive">
                        <br>
                        <br>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Contenu</th>
                                <th>Nom</th>

                            </tr>
                            </thead>

                            {% for c in message %}
                                <tr>
                                    <td class="py-1">{{ c.date }}</td>
                                    <td>{{ c.contenu }}</td>
                                    <td>{{ c.nom }}</td>
                                    <td>{{ c.prenom }}</td>
                                    <td>{{ c.adresse }}</td>
                                    <td>{{ c.numTel }}</td>
                                    <td>{{ c.email }}</td>
                                    <td>{{ c.roles|join(', ') }}</td>
                                    <td>{{ c.langue }}</td>
                                    <td>
                                        <a href="{{ path('edit_account',{'id':c.id}) }}" class="btn btn-outline-warning"
                                           onclick="return confirm('Etes-vous sûr de modifier ce compte?');"
                                           title=" Modifier">Modifier</a>
                                    </td>
                                    <td><a href="{{ path('delete_user',{'id':c.id}) }}" class="btn btn-outline-danger"
                                           onclick="return confirm('Etes-vous sûr de supprimer ce compte?');"
                                           title=" Supprimer">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(message) }}
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}

{% endblock %}


